.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-icon10 {
  fill: var(--dl-color-theme-secondary1);
  backdrop-filter: blur(5px);
}
 
.navigation-thq-section-title-elm1 {
  fill: var(--color-on-surface);
  color: var(--color-on-surface);
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-brand-column-elm {
  width: 443px;
  margin-left: var(--dl-layout-space-unit);
}
 
.footer-thq-footer-brand-description-elm {
  width: var(--dl-layout-size-maxwidth);
  height: 89px;
  margin: var(--dl-layout-space-halfunit);
  max-width: auto;
  align-self: flex-start;
  text-align: left;
  white-space: normal;
  letter-spacing: 1px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-overlay-elm {
  opacity: 0.75;
}
 
.home-thq-showcase-section-elm {
  background: var(--dl-color-theme-secondary1);
}
 
.home-thq-btn-elm2 {
  align-items: center;
  justify-content: center;
}
 
.home-thq-section-content-elm6 {
  width: 240px;
  height: 62px;
}
 
.home-container2 {
  display: none;
}
 
.home-container3 {
  display: contents;
}
 
.home-container4 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon57 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text36 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
